body {
    font-family: "Montserrat";
  }

  .about-container {
    margin: 20px;
    padding: 30px;

  } 

  .header-container{
    grid-area: header;
  }

  .about {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: left;  
    color: white;

  }
  
  

  

