body {
    font-family: "Montserrat";
    padding: 15px;
    margin: 15px;
    background-color: black;

  }
  
  .art-container {
    display: flex;
    flex-direction: column;

  } 

  .top-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    grid-area: top;
    color: white;
  }

  .gallery-title {
    display: flex;
    flex-direction: column;
    grid-area: title;
    font-size: 23px;
    width: 50%;
    padding: 20px;
    margin: 20px;
  }

  .website {
    font-size: 20px;
    font-weight: bold;
    color: darkgray;
    
  }

  .bio-website {
    display: flex;
    flex-direction: column;
    grid-area: bio-website;
    font-size: 18px;
    padding: 20px;
    margin: 20px;
    align-items: center;
  }

  .art-cards {
    display: grid;
    grid-template-columns: 6fr 6fr 6fr;
    grid-template-areas: 
      "card card card",
      "card card card";
    align-items: center;
    grid-area: cards;
    margin-left: 85px;
    margin-right: 85px;
    padding: 10px;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    grid-area: card;
    margin: 20px;
  } 

  .cardImg {
    grid-area: picture;
  }

  .artist{
    background-color: white;
    color: black;
    padding: 15px;
    font-size: 30px;
  } 

  .home {
    display: flex;
    justify-content: center;
    font-size: 18px;
    color: orangered;
    font-weight: bold;
    text-decoration: none;
  }

  .nav-item {
    list-style-type: none;
  }



  @media only screen and (max-width: 600px) {
    .top-section {
      flex-direction: column;
    }

    .art-cards{
      grid-template-columns: 1fr;
      
    }

    .card {
      grid-template-columns: 1fr;
      grid-template-areas:
        "card"
        "card";
      margin: 15px;
    }
  }

  @media only screen and (min-width: 601px) {
    .art-cards{
      grid-template-columns: 2fr 2fr;
    }

    .card {
      margin: 25px;
    }
  }
  
    
  @media only screen and (min-width: 992px) {
    .art-cards{
      grid-template-columns: 1fr 1fr 1fr;

    }

    .card {
      margin: 15px;
    }
  }

  

