body {
    font-family: "Montserrat";
  }
  
  .art-container {
    /* display: grid;
    grid-template-columns: 18fr;
    grid-template-areas: 
      "top"
      "card",
      "card"; */
    /* align-items: center; */
    display: flex;
    flex-direction: column;

  } 

  .top-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    grid-area: top;
  }

  /* .gallery-title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    grid-area: title;
  } */

  .bio-website {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    grid-area: bio-website;
  }

  .art-cards {
    display: grid;
    grid-template-columns: 6fr 6fr 6fr;
    grid-template-areas: 
      "card card card",
      "card card card";
    align-items: center;
    grid-area: cards;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    grid-area: card;
    margin: 20px;
  } 

  .cardImg {
    grid-area: picture;
  }

  .art-title{
    background-color: black;
    color: white;
    /* height: 30px; */
    padding: 15px;
    font-size: 30px;
  } 



  @media only screen and (max-width: 600px) {
    .art-cards{
      grid-template-columns: 1fr;
      
    }

    .card {
      grid-template-columns: 1fr;
      grid-template-areas:
        "card"
        "card";
      /* margin-top: 175px; */
      margin: 15px;
    }
  }

  @media only screen and (min-width: 601px) {
    .art-cards{
      grid-template-columns: 2fr 2fr;
      margin-top: 175px;
    }

    .card {
      margin: 25px;
    }
  }
  
    
  @media only screen and (min-width: 992px) {
    .art-cards{
      grid-template-columns: 1fr 1fr 1fr;
      margin-top: 175px;

    }

    .card {
      margin: 15px;
    }
  }

  

